
= partial :_site, title: "Menu" do
  = partial '_othersubsubdir/logo'
  %ul
    %li= partial '_menu_item', color: "smaragdine", flavor: "unctious"
    %li= partial :_menu_item, color: "fulvous", flavor: "umami"
